.App__header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  padding-bottom: 6rem;
}

.App__header-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.App__header-title {
  padding-left: 1.3rem;
}

.App__body {
  padding: 5rem;
  text-align: left;
}
