.App__header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  padding: 5rem 1rem;
}

.App__header-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.App__header-label {
  font-weight: 600;
  font-size: 2.4rem;
}

.App__header-title {
  min-height: 8rem;
}

.App__nav {
  margin-left: -1.3rem;
  font-weight: 600;
  font-size: 2.8rem;

  ul {
    margin: 0;
  }
}

.App__body {
  margin: 5rem;
  text-align: left;
}
